body {
    background: #001821;
    color: #FFFFFF;
    line-height: 16px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: normal;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
.img {
    display: block;
    max-width: 100%;
}
.container {
    margin: 0 auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
}
header {
    padding-top: 38px;
    display: flex;
    margin-bottom: 55px;
    justify-content: space-between;
    align-items: center;
}
.header__col {
    display: flex;
    align-items: center;
}
.header__col--align--right {
    justify-content: flex-end;
}
.logo {
    display: block;
    width: 85px;
    height: 36px;
    top: 20px;
    margin-right: 80px;
}
.menu {
    top: 34px;
    left: 164px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}
.menu__item--active .menu__link{
    color: #FFFFFF;        
}
.menu__link:hover{
    color: #FFFFFF;
}
.contacts {
    top: 27px;
    right: 0px;
    text-align: right;
    font-style: normal;
}
.contacts__phone {
    text-decoration: none;   
    font-size: 26px;
    margin-bottom: 6px; 
}
.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
}
.tours {
    display: flex;
    margin-bottom: 239px;
}
.tours__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 94px;
    margin-bottom: 32px;
    left: 390px;
}
.tours__description {
    font-size: 18px;
    margin-bottom: 55px;
}
.button {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
.btn--color--red:hover {
    background: #F5170E;
    border-radius: 35px;
    color: #FFFFFF;
}
.hot-tours {
    margin-bottom: 127px;
}
.hot-tours__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 55px;
}
.hot-tours__cards {
    display: flex;
    justify-content: space-between;
}
.hot-tours__item {
    background: #FFFFFF;
    width: calc(100% / 3-18px);
    margin-right: 27px;
}
.hot-tours__image {
    width: 362px;
    height: 144px;
}
.hot_tours__desc {
    padding: 33px 22px 26px;
}
.hot-tours__country {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin-bottom: 21px;
}
.hot-tours__icons {
    height: 38px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.icons__calendar {
    height: 26px;
    display: inline-block;
}
.icons__nights {
    padding-left: 10px;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    align-items: center;
    color: #666666;
}
.icons__meals {
    padding-left: 28px;
    display: inline-block;
}
.icons__breakfast {
    padding-left: 9px;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    align-items: center;
    color: #666666;
}
.hot-tours__description {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #303030;
    margin-bottom: 25px;
}
.btn--color--white {
    background: #FFFFFF;  
    border-radius: 35px;
    color: #F5170E;  
    border: 1px solid #F5170E;
    box-sizing: border-box;
}
.btn--color--white:hover {
    background: #F5170E;
    border-radius: 35px;
    color: #FFFFFF;
}
.news {
    margin-bottom: 58px;
}
.news__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    display: flex;
    margin-bottom: 51px;
    color: #FFFFFF;
}
.news__points {
    display: flex;
    margin-bottom: 58px;
}
.news__item {
    width: 557px;
    min-height: 394px;
    vertical-align: top;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin-right: 25px;
}
.news__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 40%;
}
.news__text {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 48px 32px;
    min-height: 140px;
}
.news__month {
    font-size: 14px;
    margin-bottom: 18px;
}
.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.news__description {
    font-size: 16px;
}
.pager {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 153px;
}
.pager__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.pager__item {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}
.pager__item--active, .pager__item:hover {
    background: #FFFFFF;
    color: red;
}
.pager__item:hover .pager__link {
    color: red;
}
.pager__display {
    margin-right: 26px;
    display: flex;
}
.pager--theme--light {
    color: #000000;
}
.pager--theme--light .pager__item--active .pager__link {
    color: #FFFFFF;
    background: red;
}
.pager--theme--light .pager__link:hover {
    color: #FFFFFF;
    background: red;
    border-radius: 50%;
}
.about-us:before {
    display: inline-block;
    content: "";
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(./pictures/gates.png) center center / cover no-repeat;
}
.about-us__desc {
    display: inline-block;
    vertical-align: top; 
    width: 785px;
    height: 455px;
    padding: 70px 81px;
    background: url(./pictures/mountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-left: -140px;
    margin-top: 97px;  
    box-sizing: border-box;
    margin-bottom: 53px;
}
.about-us__title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-bottom: 37px;
}
.about-us__desc-text {
    margin-bottom: 43px;
    color: #000000;
    line-height: 27px;
    width: 502px;
    min-width: 135px;
}
.about-us__desc-text p {
    margin-bottom: 20px;
    color: #000000;
}
.about-us__desc-text p:last-child {
    margin-bottom: 0px;
}
.footer {
    height: 146px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.footer-container {
    margin-top: auto;
}
.footer-container__content {
    border-top: 1px solid #FFFFFF;;
}
.footer__col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__col--align--right {
    display: flex;
    align-items: flex-end;
}
.contacts__descr {
color: #9A9A9A;
font-size: 11px;
margin-bottom: 7px;
}
.socials {
    display: flex;
    top: 34px;
    right: 265px;
}
.social__item {
    display: flex;
    vertical-align: middle;
    margin-right: 10px;
}
.social__item:last-child {
     margin-right: 0px;
}
.social__link {
    display: flex;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.social__item--icon--telegram.social__link {
    background-image: url(./pictures/telegram.png);
}
.social__item--icon--telegram.social__link:hover {
    background-image: url(./pictures/telegram-hover.png);
}
.social__item--icon--vk.social__link {
    background-image: url(./pictures/vk.png);
}
.social__item--icon--vk.social__link:hover {
    background-image: url(./pictures/vk-hover.png);
}
.social__item--icon--vk.social__link {
    background-image: url(./pictures/f.png);
}
.social__item--icon--vk.social__link:hover {
    background-image: url(./pictures/f-hover.png);
}
.social__item--icon--vk.social__link {
    background-image: url(./pictures/in.png);
}
.social__item--icon--vk.social__link:hover {
    background-image: url(./pictures/in-hover.png);
}
.footer-container__content {
    border-top: 1px solid #FFFFFF;;
}
.main-page-wrapper {
    background-image: url(./pictures/elephant.png), url(./pictures/man.png);
    background-position:  center top, right bottom;
    background-repeat: no-repeat;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}
.body, html {
    height: 100%;
}

/* services pade */

.top-line {
     min-height: 412px;
     background: #001821;
     display: flex;
     flex-direction: column;
     background: url(./pictures/headline.png) right top no-repeat;
}
.top-line__container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 24px;
}
.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 60px;
}
.breadcrumbs__item {
    display: flex;
    align-items: center ;
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
}
.breadcrumbs__item--active .breadcrumbs__link {
    text-decoration: none;
}
.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}
.breadcrumbs__item:last-child:after {
    display: none ;
}
.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}
.page-content {
    background: #FFFFFF;
    color: #303030;
    padding: 98px 0;
}
.service {
     display: flex;
     margin-bottom: 49px;
     align-items: center;
}
.service__img {
    width: 40%;
    margin-right: 7%; 
}
.service__content {
     flex: 1;
}
.service__title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 29px;
}
.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 16px;
}
.services {
    margin-bottom: 70px;
}
.inner-section {
    background:  #fff;
    color: #1A1B1E;
    padding: 88px 0;
}
.inner-section--bg--grey {
    background:  #F4F5F5;    
}
.inner-section__title {
    font-size: 48px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 99px;
}
.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -46px;
}
.partners__item {
    margin-left: 46px;
    margin-bottom: 88px;
}
.patners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
